/*Final Project (02.526 Interactive Data Visualisation)*/
/*by Gian Jian Xiang & Rachel Ng*/


.node:hover{
  stroke-width: 3px !important;
  opacity: 1 !important;
  /*color: grey;*/
}

.tooltip{
  position: absolute;
}

body {
  font-family: 'Raleway', 'Arial';
  /*text-align: center; */
  /*margin: 2px;*/
  padding-left: 2px;
  color: grey;
  /*background: grey;*/
}

h1 {
  text-align: center; 
  color: grey; 
  font-size: 39px; 
  font-family: 'Raleway', sans-serif;
  /*margin-bottom: 0;*/
  margin: 0;
  position: relative;
}

h2 {
  text-align: left; 
  color: grey; 
  font-size: 23px; 
  font-family: 'Raleway', sans-serif;
  /*margin: 5px;*/
  padding-left: 5px;
  position: relative;
}