/*Final Project (02.526 Interactive Data Visualisation)*/
/*created by Gian Jian Xiang & Rachel Ng*/

body {
	font-family: 'Raleway', 'Arial';
	text-align: center; 
	margin: 0;
	/*background: grey;*/
}